<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SideMenuChild',
  props: {
    links: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    level: {
      type: Number,
      required: false,
      default: 1,
    },
  },
});
</script>

<template>
  <ul class="side-menu__child">
    <li
      v-for="link in links"
      :key="link.text"
      :style="{ marginLeft: `${level * 10}px` }"
    >
      <router-link
        :to="{ path: '', hash: link.href }"
        :data-ga-name="link.data_ga_name"
        :data-ga-location="link.data_ga_location"
        >{{ link.text }}
      </router-link>
      <side-menu-child
        v-if="link.children"
        :links="link.children"
        :level="level + 1"
      />
    </li>
  </ul>
</template>

<style lang="scss" scoped>
.side-menu {
  &__child {
    list-style: inside disc;
    li {
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 20px;
    }
    a {
      color: #333333;
      &:hover {
        color: #9b51e0;
      }
    }
    ul {
      padding-top: 18px;
      list-style: inside circle;
    }
  }
}
</style>
