<script lang="ts">
import Vue from 'vue';
import SoftwareFasterCarousel from '../../software-faster/software-faster-carousel.vue';

export default Vue.extend({
  name: 'CaseStudyTabs',
  components: {
    SoftwareFasterCarousel,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      visibleCaseStudy: 0,
    };
  },
  methods: {
    goToNext() {
      if (this.visibleCaseStudy >= this.data.case_studies.length - 1) {
        this.visibleCaseStudy = 0;
      } else {
        this.visibleCaseStudy++;
      }
    },
    goToPrev() {
      if (this.visibleCaseStudy === 0) {
        this.visibleCaseStudy = this.data.case_studies.length - 1;
      } else {
        this.visibleCaseStudy--;
      }
    },
    selectNewSlide(index) {
      this.visibleCaseStudy = index;
    },
  },
});
</script>

<template>
  <section
    class="section"
    aria-roledescription="carousel"
    aria-label="Education Case Studies Carousel"
  >
    <SlpContainer class="wrapper">
      <div ref="scroll" class="logos">
        <button
          v-for="(logo, index) in data.case_studies"
          :key="logo.logo_url"
          type="button"
          :aria-label="`Select ${logo.institution_name} case study`"
          :tabindex="index === visibleCaseStudy ? '-1' : 0"
          class="logo"
          :class="index === visibleCaseStudy ? 'active' : ''"
          :aria-selected="index === visibleCaseStudy"
          @click="selectNewSlide(index)"
        >
          <nuxt-img :src="logo.logo_url" aalt="" aria-label="" />
        </button>
      </div>
      <div class="case-studies">
        <SoftwareFasterCarousel
          v-for="(case_study, index) in data.case_studies"
          :key="index"
          :index="index"
          :visible="visibleCaseStudy"
          class="case-studies__card"
          transition="slide-left"
          :length="data.case_studies.length"
        >
          <SlpRow>
            <SlpColumn :cols="6">
              <nuxt-img
                v-if="case_study.quote.img_url"
                loading="lazy"
                :src="case_study.quote.img_url"
                alt=""
                class="slide-image"
              />
            </SlpColumn>
            <SlpColumn :cols="6" class="content">
              <figure>
                <SlpTypography variant="quotes" tag="blockquote">
                  "{{ case_study.quote.quote_text }}"
                </SlpTypography>
                <SlpTypography variant="body3" tag="figcaption">
                  <strong>{{ case_study.quote.author }}</strong>
                  <span>
                    {{ case_study.quote.author_title }}
                  </span>
                </SlpTypography>
              </figure>
              <SlpButton
                variant="primary"
                :href="case_study.case_study_url"
                :data-ga-name="case_study.data_ga_name"
                :data-ga-location="case_study.data_ga_location"
                >Read case study
                <SlpIcon variant="product" name="chevron-lg-right"
              /></SlpButton>
            </SlpColumn>
          </SlpRow>
        </SoftwareFasterCarousel>
        <SlpRow class="controls">
          <SlpButton
            variant="icon"
            aria-label="View previous case study"
            @click.native="goToPrev"
          >
            <SlpIcon
              name="chevron-lg-left"
              alt="Chevron Left Icon"
              variant="product"
              hex-color="#171321"
            />
          </SlpButton>
          <div class="controls__pages">
            <div
              v-for="(option, index) in data.case_studies.length"
              :key="option"
              :class="[
                option === visibleCaseStudy + 1
                  ? 'controls__pages-control--active'
                  : '',
                'controls__pages-control',
              ]"
              @click="selectNewSlide(index)"
            ></div>
          </div>
          <SlpButton
            variant="icon"
            aria-label="View next case study"
            @click.native="goToNext"
          >
            <SlpIcon
              name="chevron-lg-right"
              alt="Chevron Right Icon"
              variant="product"
              hex-color="#171321"
            />
          </SlpButton>
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.section {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.wrapper {
  padding: $spacing-96 0 $spacing-96 0;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0 $spacing-48 0;
  }
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-32;
  gap: 24px;
  @media (max-width: $breakpoint-md) {
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

.logo {
  flex: 0 0 130px;
  min-height: 85px;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;

  @media (max-width: $breakpoint-md) {
    flex: 0 0 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
  }

  &:hover {
    border-bottom: 1px solid $color-accent-500;
  }

  &.active {
    border-bottom: 1px solid $color-surface-700;
  }

  img {
    margin-bottom: 4px;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.case-studies {
  &__card {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    background: white;
    will-change: contents;

    @media (max-width: $breakpoint-md) {
      margin: 0 $spacing-16;
    }

    :deep(strong) {
      font-weight: $font-weight-bold;
    }

    .slp-col-md-5,
    .slp-col-md-7 {
      height: 460px;
    }
  }

  .slp-col-md-6 {
    position: relative;
  }

  .slide-image {
    width: 100%;
    min-height: 460px;
    max-height: 460px;
    height: 100%;
    display: block;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
      aspect-ratio: 1.5/1;
      min-height: 0;
      max-height: 400px;
    }
  }

  .content {
    background: $color-surface-800;
    padding: $spacing-32;
    border-radius: 0 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    figcaption {
      margin-top: $spacing-8;
      margin-bottom: $spacing-24;
    }

    span {
      display: block;
    }

    .slp-btn {
      max-width: 200px;
    }

    .slp-icon {
      margin-left: 4px;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $spacing-24;

    color: #171321;

    :deep {
      svg,
      path {
        fill: #171321 !important;
        stroke: #171321 !important;
      }
    }

    &__pages {
      display: inherit;

      &-control {
        background: $color-surface-300;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 0 $spacing-8;
        cursor: pointer;

        &:hover {
          background: $color-accent-500;
        }

        &--active {
          background: $color-surface-700;
        }
      }
    }
  }
}
</style>
