<script lang="ts">
import Vue from 'vue';
import { debounce, DebouncedFunc } from 'lodash';
import { IsMobileMixin } from '../../mixins';
import GroupButtons from '~/components/common/group-buttons.vue';

export default Vue.extend({
  components: {
    GroupButtons,
  },
  mixins: [IsMobileMixin],
  props: {
    data: {
      required: true,
      type: Object,
    },
    sensitivity: {
      type: Number,
      required: false,
      default: 0.25,
    },
    skip: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      currentLinkIndex: 0,
      open: false,
      isVisible: false,
      sticky: false,
      offset: 0,
      scrollDebounce: (() => ({})) as DebouncedFunc<any>,
    };
  },
  created() {
    this.scrollDebounce = debounce(this.detectScroll, 18);
  },
  mounted() {
    document.addEventListener('click', this.closeDropdown);
    if (this.isMobile) {
      document.addEventListener('scroll', this.checkSticky);
    }

    window.addEventListener('scroll', this.scrollDebounce);

    window.addEventListener('load', () => {
      const { navigation } = this.$refs;
      const children = Array.from(navigation?.children);

      const childrenObserver = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              this.currentLinkIndex = children.findIndex(
                (item) => item === entry.target,
              );
            }
          });
        },
        {
          rootMargin: '0px',
          threshold: this.isMobile ? 0.1 : this.sensitivity,
        },
      );

      children.forEach((section) => childrenObserver.observe(section));
    });
  },
  beforeDestroy() {
    document.removeEventListener('click', this.closeDropdown);
    window.removeEventListener('scroll', this.scrollDebounce);
  },
  methods: {
    closeDropdown() {
      this.open = false;
    },
    toggleDropdown() {
      this.open = !this.open;
    },
    detectScroll() {
      const { navigation } = this.$refs;
      const bounding = navigation.getBoundingClientRect();
      this.isVisible =
        bounding.top < 0 && bounding.bottom >= window.innerHeight;
    },
    checkSticky() {
      const fixedDistance = 125;
      const currentDistance = this.$refs.dropdown.getBoundingClientRect().top;
      this.offset =
        currentDistance > this.offset ? currentDistance : this.offset;
      this.sticky =
        currentDistance <= fixedDistance &&
        window.scrollY > this.offset - fixedDistance;
    },
  },
});
</script>

<template>
  <div id="top-nav-parent">
    <GroupButtons class="categories" :data="data" />
    <div
      id="top-navigation"
      class="top-navigation"
      :class="{ flex: isVisible }"
    >
      <div
        v-if="data.buttons[currentLinkIndex]"
        id="navigation-dropdown"
        ref="dropdown"
        class="dropdown"
        :class="{
          open,
          visible: isVisible,
          mobile: isMobile,
          sticky: sticky,
        }"
        @click.stop="toggleDropdown"
      >
        <div class="control">
          <SlpTypography variant="body2-bold" class="control-text">
            <SlpIcon
              v-if="data.buttons[currentLinkIndex].icon_left"
              :name="data.buttons[currentLinkIndex].icon_left"
              variant="marketing"
              size="md"
              class="icon"
            />
            {{ data.buttons[currentLinkIndex].text }}</SlpTypography
          >
          <SlpIcon
            :name="open ? 'chevron-up' : 'chevron-down'"
            variant="product"
            size="md"
          />
        </div>
        <div class="options" @click.stop="closeDropdown">
          <SlpTypography
            v-for="option in data.buttons"
            :key="option.text"
            :href="option.href"
            variant="body2-bold"
            class="option"
            tag="a"
          >
            <SlpIcon
              v-if="option.icon_left"
              :name="option.icon_left"
              variant="marketing"
              size="md"
              class="icon"
            />{{ option.text }}</SlpTypography
          >
        </div>
      </div>
    </div>
    <slot name="before" />
    <div ref="navigation">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.categories.group-cta {
  margin: $spacing-96 0;
}

.top-navigation {
  position: relative;
  display: none;
  &.flex {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media (max-height: $breakpoint-lg) {
    min-height: 66px;
  }

  .dropdown {
    display: none;
    background: $color-surface-900;
    border: 1px solid $color-surface-950;
    border-radius: 33px;
    padding: $spacing-16;
    position: fixed;
    top: 125px;
    z-index: 3;
    cursor: pointer;
    &.open .options {
      display: block;
    }
    &.visible {
      display: block;
    }
    &.mobile {
      position: absolute;
      top: 0;
      display: block;
    }
    &.sticky.mobile {
      top: 125px;
      position: fixed;
    }
  }
  .control,
  .control-text,
  .option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-text-300;
    white-space: nowrap;

    .icon {
      margin-right: $spacing-8;
    }
  }
  .option {
    margin: $spacing-24 0;
    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .options {
    display: none;
    max-height: 500px;
    overflow: scroll;
  }
}
@media (max-width: $breakpoint-lg) {
  .categories {
    margin: $spacing-64 0;
    padding: 0 !important;
    &:deep(.group-cta__container) {
      display: none;
    }
  }
}
</style>
