<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SecurityComplianceCards',
  components: {},
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <section class="security-compliance-cards">
    <SlpContainer>
      <SlpRow class="security-compliance-cards__row">
        <SlpColumn
          v-for="card in data.cards"
          :key="card.title"
          :cols="data.column_size"
        >
          <div class="security-compliance-cards__card">
            <div class="security-compliance-cards__content">
              <div class="security-compliance-cards__img slp-mb-24">
                <nuxt-img :src="card.image.src" :alt="card.image.alt" />
              </div>
              <SlpTypography
                variant="heading5-bold"
                tag="div"
                class="slp-mb-24"
              >
                {{ card.title }}
              </SlpTypography>
              <SlpTypography variant="body1" tag="div" class="slp-mb-32">
                {{ card.description }}
              </SlpTypography>
              <SlpButton
                :href="card.link.url"
                :data-ga-name="card.link.data_ga_name"
                :data-ga-location="card.link.data_ga_location"
                variant="tertiary"
                class="security-compliance-cards__button"
              >
                {{ card.link.text }}
                <SlpIcon icon="gl-chevron-lg-right" alt="Chevron Right Icon" />
              </SlpButton>
            </div>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.security-compliance-cards {
  margin: $spacing-32 auto;
  @media (min-width: $breakpoint-md) {
    margin: $spacing-96 auto;
  }

  &__row {
    @media (min-width: $breakpoint-md) {
      margin-left: -$spacing-32;
    }
    :deep .slp-col-md-6 {
      width: 100%;
    }
  }

  &__card {
    display: block;
    height: 100%;
    padding: $spacing-16 0;
    @media (min-width: $breakpoint-md) {
      padding: $spacing-16 0 $spacing-16 $spacing-32;
    }
  }

  &__content {
    padding: $spacing-32 $spacing-24;
    display: flex;
    flex-direction: column;
    border: $color-surface-200 solid 1px;
    border-radius: $spacing-16;
    height: 100%;
  }

  &__img {
    max-height: 104px;
    img {
      object-fit: contain;
      object-position: 0 0;
      width: 100%;
      height: 100%;
    }
  }

  &__button {
    margin-top: auto;
    padding-left: 0;
  }
}
</style>
