<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SolutionsVideoFeature',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    offset: {
      type: Number,
      required: false,
      default: 0,
    },
  },
});
</script>

<template>
  <section class="video-feature">
    <SlpContainer>
      <SlpRow class="video-feature__wrapper">
        <SlpColumn v-if="offset !== 0" :cols="offset" class="offset" />
        <SlpColumn :cols="10">
          <div class="video-feature__container">
            <iframe
              style="width: 100%; height: 100%"
              :src="data.video.url"
              title="video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.video-feature {
  position: relative;
  &__container {
    padding-bottom: 67.5%;
    width: 100%;
    position: relative;
    border-radius: $spacing-4;
    overflow: hidden;
    iframe {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 30%;
    background-color: $color-surface-800;
    height: 70%;
    z-index: -1;

    left: -100vw;
    width: 200vw;
  }
  &__wrapper {
    width: 100%;
    justify-content: center;
  }
}
.offset {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}
</style>
